.bottom {
  width: 100%;
  background-color: rgb(11, 85, 145);
  display: flex;
  margin: 10px auto;
  border-radius: 20px;
  justify-content:space-around;
  a {
    width: 20%;
    margin: 30px auto;
    @media screen and (max-width:670px) {
      width: 40%;
    }
    button {
      width: 100%;
      height:50px;
      background-color: lightblue;
      border: none;
      border-radius: 20px;
      font-size: 15px;
      font-weight: bold;
    }
  }
}