.container {
  width: 80%;
  height:100vh;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width:1024px) {
    width: 98%;
    margin: auto;
  }
  
  a {
    text-decoration: none;
    color: black;
  }

  h1 {
    text-align: center;
    margin: 30px auto;
  }
}